<html>
    <head>
    <title>THS</title>
<script  src="/public/vendor/jquery-3_3_1_min_js.js" ></script>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/public/javascripts/dom.js"></script>

<link  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">   
<link rel="stylesheet" href="/public/vendor/bootstrap.min.css" type="text/css">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
<link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css" >
<link rel="stylesheet" href="/public/stylesheets/style1.css" type="text/css" >
<link rel="stylesheet" href="/public/stylesheets/main.css" type="text/css">


<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css">
<!-- <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
  




<nav class="navbar navbar-expand">
    <a class="btn btn-outline-light" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
               <li class="nav-item">
          <a class="btn btn-outline-light" href="/challenges">Challenges</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light" href="/company/">Companies</a>
          </li>
           </ul>
     <!-- <button class="btn btn-primary"><a href="/signup">Signup</a></button>
      <button class="btn btn-primary"><a href="/login">Login</a></button>
      <button class ="btn btn-primary"><a href ="/users/logout/">logout</a></button> --> 

      <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser){ %>
            <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a class=" btn btn-outline-light" href="/login">Login</a></li>
            <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class=" btn btn-outline-light" href="/signup">Sign Up</a></li>
        <% } else { %>
            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
            <li><a href="/users/logout">Logout</a></li>
        <% } %>
    </ul>

      </form>
    </div>
  </nav>
  <body id="background">
    

    <div class="container">
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger"><p><%=error %></p></div>
      <% } %>
      
      <% if(success && success.length > 0) { %>
        <div class="alert alert-success"><p><%= success %></p></div>
      <% } %>
   </div>
  
